// @import 'header';
// @import 'footer';

// base
// $font-style: normal 18px Arimo;
$blue-color: rgb(0, 255, 242, 0.801);
// $green-color:#1afe49;
// $pink-color:#EC449B;
// $magenta-color:#3D155F;

// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0 ;
// }

// html {
//   font: $font-style;
//   color: $grey-color;
//   line-height: 1.6;
// }
html {
    background-image: url("https://media.giphy.com/media/KZFrf9JusXzmpnPsT6/giphy.gif");
    background-size: 100%;
  }

.question {

    //color:$blue-color;
    font-size:24;
    font-family:Arimo;
    text-align:left;
    font-weight: 700;
    color: $blue-color;
 }

.body {
    font-family:Changa;
    font-size: 15px;
    line-height: 1.6em;
  
}

li{
    list-style: none;
}
a{
    text-decoration:none ;
}

label{
    display:inline-block;
    width:180px;
}

input[type='text']{
    width:97%;
    padding:4px;
    border-radius:5px;
    border:1px #ccc solid;
}
input[type='number']{
    width:50px;
    padding:4px;
    border-radius:5px;
    border:1px #ccc solid;
}

.container{
    width: 60%;
    margin:0 auto;
    overflow:auto;
    color:$blue-color;
    // width: 50vw;
    // height: 50vh;
    justify-content: center;
    justify-items: center;
    // align-content: center;
    // align-items: center;
    // text-align:center;
}

.h1{
    font-family:Roboto;
}
header{
    border-bottom:3px #f4f4f4 none;
    text-align:left;
}

footer{
    border-top: 3px #f4f4f4 none;
    text-align: center;
    padding-top: 5px;


}
main{
 padding-bottom: 20px;
 border-color:transpert;
 align-content: center;
 align-items: center;
 
}

a.start{
    display:inline-block;
    color:#666;
    background-color: #f4f4f4;
    border:1px dotted #ccc;
    padding:6px 13px;
    cursor:pointer;
}

.current{
    // padding:10px;
    background:transparent;
    border:none;
    margin:20px 0 10px 0;
    color:$blue-color;
    font-size:18;
    font-family:Changa;
    text-align: left;
}
@media only screen and (max-width:960px){
    .container {
        width: 80%;
    }
}

button {
    font-family:Hind;
    background-color: transparent;
    border-radius: 50%;
    // border-color: white;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    color:$blue-color;
    font-size:17;
    font-weight: bolder;
    
}

button:hover {
    font-size:30;
    color:$blue-color;
}